<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <head>
        <%- include('../partials/head'); %>
        <!-- <link rel="stylesheet" type="text/css" href="theme-assets/vendors/css/charts/chartist.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="theme-assets/css/pages/dashboard-ecommerce.css"> -->
    </head>
    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <!-- fixed-top-->
        <%- include('../partials/header'); %>
        <!-- ////////////////////////////////////////////////////////////////////////////-->
        <%- include('../partials/sidebar'); %>

        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-wrapper-before"></div>
                <div class="content-header row">
                    <div class="content-header-left col-md-4 col-12 mb-2">
                      <h3 class="content-header-title">Owl Eye Dashboard</h3>
                    </div>
                    <div class="content-header-right col-md-8 col-12">
                      <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Dashboard
                            </li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Chart -->
                    
                <div class="content-body">
                    <!-- 3d viewer card body start -->
                    <section id="basic-buttons">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card" id="canvas-container">
                                    <div class="card-header">
                                        <!-- <h4 class="card-title">OWL 3D WEB APP</h4> -->
                                        <a class="heading-elements-toggle"><i class="la la-ellipsis font-medium-3"></i></a>
                                        <div class="heading-elements">
                                            <ul class="list-inline mb-0">
                                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                                            </ul>
                                        </div>
                                        </div>
                                    <div class="card-content collapse show">
                                        <div class="card-body">
                                            <!-- <p class="card-subtitle">You can load *.txt, *.obj files from owl windows app.</p> -->
                                            <div class="form-group">
                                                <!-- basic viewer -->
                                                <%- include('../partials/threeviewer'); %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- 3d viewer card body end -->

                    <!-- line chart section start -->
                    <section id="chartjs-line-charts">
                        <!-- Line Chart -->
                        
                        <% if(data) { %>
                            <% for(const element of data) { %>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title"></h4>
                                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                                <div class="heading-elements">
                                                    <ul class="list-inline mb-0">
                                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-content collapse show">
                                                <div class="card-body chartjs">
                                                    <div class="height-500">
                                                    <canvas id="<%= 'canvas-model-' + element.name %>"></canvas>
                                                    </div>
                                                    <div>
                                                        <div class="row" style="margin-top: 20px; margin-bottom: 15px; margin-left: -5px;">
                                                            <div class="col-md-5 col-sm-12 col-12 col-lg-5 col-xl-4">
                                                                From&nbsp;<input type="datetime-local" id='<%= "fromtime-"+element.name %>'>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12 col-12 col-lg-5 col-xl-4">
                                                                To&nbsp;<input type="datetime-local" id='<%= "totime-"+element.name %>'>
                                                            </div>
                                                            <div class="col-md-1 col-sm-12 col-12 col-lg-1 col-xl-1">
                                                                <button class="btn btn-sm btn-dark" id='<%= "btn-"+element.name %>'>Update</button>
                                                            </div>
                                                            <div class="col-md-1 col-sm-12 col-12 col-lg-1 col-xl-1">
                                                                <button class="btn btn-sm btn-dark" id='<%= "btn-export"+element.name %>'>Export</button>
                                                            </div>
                                                        </div>
                                                        <!-- model data -->
                                                        <input type="hidden" id="<%= 'input-model-' + element.name %>" value='<%= JSON.stringify(element) %>'>
                                                        &Tab;<h4 class='info'>Model Information&nbsp;:&nbsp;<%= element.name %></h4><br>
                                                        <div class="row">
                                                            <div class="col-md-12 col-lg-6">
                                                                <dl class='row'><dt class="col-6"> 1 .Last Measurement Date&nbsp;:</dt><dd class="col-6" id='<%= "lm-date-"+element.name %>'></dd></dl>
                                                                <dl class='row'><dt class="col-6"> 2 .Last Measurement Time&nbsp;:</dt><dd class="col-6" id='<%= "lm-time-"+element.name %>'></dd></dl>
                                                                <dl class='row'><dt class="col-6"> 3 .Last Measurement Volume&nbsp;:</dt><dd class="col-6" id='<%= "lm-volume-"+element.name %>'></dd></dl>
                                                            </div>
                                                            <div class="col-md-12 col-lg-6">
                                                                <dl class='row'><dt class="col-6"> 4 .Last Measurement Mass&nbsp;:</dt><dd class="col-6" id='<%= "lm-mass-"+element.name %>'></dd></dl>
                                                                <dl class='row'><dt class="col-6"> 5 .Last Measurement Density&nbsp;:</dt><dd class="col-6" id='<%= "lm-density-"+element.name %>'></dd></dl>
                                                                <dl class='row'><dt class="col-6"> 6 .Average Volume&nbsp;:</dt><dd class="col-6" id='<%= "lm-averagevolume-"+element.name %>'></dd></dl>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="<%= 'input-modelid-' + element.name %>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                        <% if(names) { %>
                            <input type="hidden" id="input-names" value='<%- names %>'>
                            <input type="hidden" id="input-dbname" value='<%- dbname %>'>
                            <input type="hidden" id="input-collectionname" value='<%- collectionname %>'>
                        <% } %>
                    </section>
                    <!-- // line chart section end -->

                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////-->
        <%- include('../partials/footer'); %>
        <!-- <script src="/theme-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script> -->
        <!-- <script src="/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script> -->
        <!-- socket db update -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- chart -->
        <script src="/theme-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
        <script src="/js/chart.js" type="module"></script>
        
        <script src="/js/alert_getmodelfromdb.js" type="text/javascript"></script>
    </body>
</html>