<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <%- include('../partials/head'); %>
    <!-- BEGIN Three.js Load -->
    <!-- END Three.js Load -->
</head>
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <!-- fixed-top-->
    <%- include('../partials/header'); %>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <%- include('../partials/sidebar'); %>

  <!-- dashboard -->
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Owl Eye Viewer</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">3D viewer
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="content-body">
      <!-- 3d viewer card body start -->
        <section id="basic-buttons">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card" id="canvas-container">
                    <div class="card-header">
                        <!-- <h4 class="card-title">OWL 3D WEB APP</h4> -->
                        <a class="heading-elements-toggle"><i class="la la-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                      </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <!-- <p class="card-subtitle">You can load *.txt, *.obj files from owl windows app.</p> -->
                            <div class="form-group">
                                <!-- basic viewer -->
                                <%- include('../partials/threeviewer'); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- 3d viewer card body end -->
        </div>


    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  
<!-- page content end -->
<%- include('../partials/footer'); %>
<script type="module" src="/js/view_three.js"></script>
<!-- page footer -->

</body>
</html>